body {
	background: #f1f1f1;
}

.login-panel{
	margin:auto;
	margin-top:80px;
	width:300px;
}

.login-panel img{
	margin-bottom:20px;
}

.login-panel  > .panel{
	padding:10px;
}

.footer{
	text-align:center;
	padding:5px;
	color:#666;
}

.error_validasi {
	margin-top:15px;
	margin-bottom: 0px;
}

.error_validasi p {
	color:red;
	padding:0px;
	margin: 0px !important;
}

.navbar-nav li.active > a,
.dropdown-menu li:hover a {
	background: #ff0000 !important;
	color:#fff !important;
}

#my-grid th {
	border-color:#C9DCEA;
	background-color: #deeffc;
	background-color: -moz-linear-gradient(top,  #deeffc 0%, #d7e6f2 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deeffc), color-stop(100%,#d7e6f2));
	background-color: -webkit-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%);
	background-color: -o-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%);
	background-color: -ms-linear-gradient(top,  #deeffc 0%,#d7e6f2 100%);
	background-color: linear-gradient(to bottom,  #deeffc 0%,#d7e6f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deeffc', endColorstr='#d7e6f2',GradientType=0 );
}

.judul-transaksi {
	margin-top: 5px;
	margin-bottom: 15px;
}

.table-responsive {
	overflow: hidden;
}

.alert {
	margin-bottom: 0px;
}

#daftar-autocomplete {
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}

#daftar-autocomplete li {
	padding: 5px 10px 5px 10px;
	background:#FAFAFA;
	border-bottom:#ddd 1px solid;
}

#daftar-autocomplete li:hover,
#daftar-autocomplete li.autocomplete_active {
	background:#2a84ae;
	color:#fff;
	cursor: pointer;
}

#daftar-autocomplete-mobil {
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}

#daftar-autocomplete-mobil li {
	padding: 5px 10px 5px 10px;
	background:#FAFAFA;
	border-bottom:#ddd 1px solid;
}

#daftar-autocomplete-mobil li:hover,
#daftar-autocomplete-mobil li.autocomplete_active {
	background:#2a84ae;
	color:#fff;
	cursor: pointer;
}

#hasil_pencarian{
	padding: 0px;
	display: none;
	position: absolute;
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 1;
}

#hasil_pencarian_mobil{
	padding: 0px;
	display: none;
	position: absolute;
	max-height: 350px;
	overflow: auto;
	border:1px solid #ddd;
	z-index: 1;
}

.TotalBayar {
	text-align: right;
	margin-bottom: 20px;
}

.TotalBayar h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

button#CetakStruk, button#Simpann {
	padding-top: 8px;
	padding-bottom: 8px;
}

.info_pelanggan {
	margin-bottom: 0px;
}

.info_pelanggan td {
	padding: 2px;
	text-align: left;
}

#LoadingDulu {
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 1;
}

#LoadingContent {
	height: 30px;
	margin: auto;
	width: 180px;
	background: #ff005e;
	text-align: center;
	line-height: 29px;
	font-weight: bold;
	color: #fff;
}

@media screen and (max-width:768px) {
	.table-responsive {
		overflow: auto;
	}
}


/*******************
Table-Data Table
******************/
.dataTables_wrapper {
  padding-top: 10px; }

.dt-buttons {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 15px; }
  .dt-buttons .dt-button {
    padding: 5px 15px;
    border-radius: 4px;
    background: #1976d2;
    color: #ffffff;
    margin-right: 3px; }
    .dt-buttons .dt-button:hover {
      background: #2f3d4a; }

.dataTables_info,
.dataTables_length {
  display: inline-block; }

.dataTables_length {
  margin-top: 10px; }
  .dataTables_length select {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1976d2), to(#1976d2)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#1976d2, #1976d2), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#1976d2, #1976d2), -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    padding-bottom: 5px; }
    .dataTables_length select:focus {
      outline: none;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#1976d2), to(#1976d2)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
      background-image: -webkit-linear-gradient(#1976d2, #1976d2), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
      background-image: -o-linear-gradient(#1976d2, #1976d2), -o-linear-gradient(#b1b8bb, #b1b8bb);
      background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
      background-size: 100% 2px, 100% 1px;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }

.dataTables_filter {
  float: right;
  margin-top: 10px; }
  .dataTables_filter input {
    border: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1976d2), to(#1976d2)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#1976d2, #1976d2), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#1976d2, #1976d2), -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 10px; }
    .dataTables_filter input:focus {
      outline: none;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#1976d2), to(#1976d2)), -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
      background-image: -webkit-linear-gradient(#1976d2, #1976d2), -webkit-linear-gradient(#b1b8bb, #b1b8bb);
      background-image: -o-linear-gradient(#1976d2, #1976d2), -o-linear-gradient(#b1b8bb, #b1b8bb);
      background-image: linear-gradient(#1976d2, #1976d2), linear-gradient(#b1b8bb, #b1b8bb);
      background-size: 100% 2px, 100% 1px;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent; }

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  margin-left: 10px;
  font-family: fontawesome;
  cursor: pointer; }

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  margin-left: 10px;
  font-family: fontawesome;
  cursor: pointer; }

table.dataTable thead .sorting:after {
  content: "\f0dc";
  margin-left: 10px;
  font-family: fontawesome !important;
  cursor: pointer;
  color: rgba(50, 50, 50, 0.5); }

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  *cursor: hand;
  color: #ff0000;
  border: 1px solid #ddd; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
  border: 1px solid #ff0000;
  background-color: #ff0000; }

  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
  .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	  z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ff0000;
    border-color: #ff0000;
  }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #ff0000;
  border: 1px solid #ddd;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white;
  border: 1px solid #ff0000;
  background-color: #ff0000; }

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #ff0000; }

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em; }
